*
{
    box-sizing: border-box;
}

.body
{
    margin:0px;
    padding: 0px;
    background-image: url(p9mUO.jpg);
    
    background-size: cover;
    
}
.menu-bar
{
background-color: green;

}

.menu-bar ul 
{
list-style-type: none;
margin-top: 0px;
text-align: center;
}
 .menu-bar ul li
 {
     
     display: inline-block;
     padding: 10px;
     margin: 10px;
     width: 150px;
 }

 .menu-bar ul li:hover
 {
     background-color: rgb(5, 105, 5);
 }


.menu-bar ul li a
{
    text-decoration: none;
    color: white;
}

.sub-menu
{
    display: none;
}

.menu-bar ul li:hover .sub-menu
{
  display: block;
  position: absolute;
  background-color: green;
  margin-top: 10px;
}
.sub-menu  ul li
{
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 20px;
    margin-top: 15px;
    margin-left: -20px;

}

.sub-menu2
{
    display: none;
}

.sub-menu ul li:hover .sub-menu2 
{
    display: block;
    position: absolute;
    background-color: green;
    margin-left: -25px;
} 
.sub-menu2 ul li
{
    display: inline-block;
}


.maindiv
{
    position:fixed;
    width: 90%;
    height: 80%;
    margin-left: 5%;
    margin-top: 3%;
    background-color:#e4e4e4e4
}

.investers
{
    display: none;
}

.menu-bar ul li:hover .investers
{
    display: block;
    position: absolute;
    background-color: green;

}
.investers ul li
{
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 20px;
    margin-top: 15px;
    margin-left: -20px;
 
    
}
.rightclass
{
    margin-top: 2%;
    float: right;
    font-size: 15px; 
    font-family: 'Courier New', Courier, monospace;
    content: "";
    display: table;
    clear: both;
}
 
@media screen and (max-width: 600px) {
    .menu-bar, .sub-menu, .sub-menu2, .body  {
      width: 100%;
      margin-top: 0;
    }
  }